* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body, .root {
  height: inherit;
  margin: 0;
}

body {
  background: #799F0C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACBB78, #799F0C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACBB78, #799F0C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: 'Gelasio', sans-serif;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  padding: 10px 0px;
  margin: 10px 0px;
}

.headline {
  text-align: center;
}

.container {
  flex: 1 1 auto;
}

.social {
  text-align: center;
}

.icon {
  margin: 10px;
}

footer {
  flex: 0 0 150px;
  background: black;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  padding-left: 30px;
}

.httpMethod {
  padding: 7px;
  margin: 5px;
  border-radius: 10px;
  
  &--get {
    background: green;
  }
  
  &--post {
    background: red;
  }
}

.httpUrl {
  padding: 10px;
  margin: 5px;
  background: rgba(0, 0, 0, 0.5);
}

.field {
    padding: 10px;
    border-radius: 20px;
    border: none;
}

#submitButton {
    margin: 20px 10px 10px 10px;
    border-radius: 15px;
    padding: 10px;
    color: white;
    border: 3px solid white;
    font-weight: bold;
    background: transparent;
    transition: all 0.4s ease-in;
  
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
}

.endpoint {
  margin-bottom: 20px;
}